.uiswitch {
  background-color: rgba(233, 233, 234, 255);
}

#uitableview.hidden {
  overflow-y: hidden;
}
#uitableview.hidden #content {
  display: none;
}

#loading {
  padding: 25px;
  /* Center vertically and horizontally */
  position: absolute;
  width: 90%;
  bottom: 50%;
  right: 50%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}
/* Text */
#loading p {
  text-align: center;
  opacity: 0.5;
  animation: show_tips 1s;
}
/* Loading */
#loading p:first-of-type {
  font-weight: 600;
  text-transform: uppercase;
}
#loading p:first-of-type:after { animation: loading 3s infinite; }
/* Tips */
#loading #tips {
  margin: 8px;
}

/* Profile */
#profile { margin-top: 10px !important; }
#profile .pfp {
  min-width: 55px;
  width: 55px;
  margin: 5px 2px 5px 16px;
  border-radius: 100px ;
}
#profile .cell-text { font-size: 22px; }
#profile .cell-detail-text { opacity: 1; }

.grey.cell-accessory-icon .bi-chevron-right {
  -webkit-text-stroke: 1px !important;
  font-size: 14px !important;
}

@keyframes loading {
  0% {
    content: "";
  }
  16.6666666667% {
    content: ".";
  }
  33.3333333333% {
    content: "..";
  }
  50% {
    content: "...";
  }
  66.6666666667% {
    content: "..";
  }
  83.3333333333% {
    content: ".";
  }
  100% {
    content: "";
  }
}