/*! uiswitch v1.1.0 | MIT License | github.com/fnky/css3-uiswitch */
/* 2022 update by foxster */

.uiswitch { transition: background-color 0.35s !important; }
.uiswitch::before { background-color: unset !important; }
.uiswitch::after { box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1) !important; }
.uiswitch:checked { background-image: none !important; }

/* Knob color */
.uiswitch::after { background-color: rgba(255, 255, 255, 255); }

/* Off color */
.uiswitch { background-color: rgba(233, 233, 234, 255) !important; }

/* On color */
.uiswitch:checked { background-color: rgba(53, 199, 89, 255) !important; }

@media (prefers-color-scheme: dark) {
    .uiswitch { background-color: rgba(57, 57, 61, 255); }
    .uiswitch:checked { background-color: rgba(46, 209, 88, 255) !important; }
}